n8n/Date&Time tool.json
{
  "name": "Date&Time tool",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant. Use each tool for each location"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        0
      ],
      "id": "b1b12eae-30a1-4108-ae3a-c9072136e55b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        192
      ],
      "id": "159a44dc-01d4-48e8-a622-21c0b5f8c56b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nAySwidX5ovBKaf0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "id": "e9c8abcc-8f65-4bd5-adf0-319c96ec7367",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "description": "Call this tool to return datetime based on timezone",
        "jsCode": "try {\n  const formatter = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: query.timezone,\n    dateStyle: \"full\",\n    timeStyle: \"long\"\n  });\n  return formatter.format(new Date());\n} catch (error) {\n  throw new Error(`Invalid timezone: ${query.timezone}. Error: ${error.message}`);\n}",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"timezone\": \"America/Lima\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        528,
        192
      ],
      "id": "9a450b7d-d5ef-4a60-9622-60999597480e",
      "name": "Current Time Tool"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5c16f84-5ea3-4889-bb50-99b3bf0078f6",
              "name": "query",
              "value": "What time is in NewYork, London and Lima?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        0
      ],
      "id": "24313307-274b-473c-8563-ac133677eb91",
      "name": "Time query"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Time query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Time Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Time query": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9262ce75-5a15-413d-8b92-351364133fac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2216cc16ce9ea6e0743b6011d70b57f2b22156ad26133e8f435b72ae142a877a"
  },
  "id": "ar1mqKFRpqdFplxu",
  "tags": []
}